.idea

venv
data
tmp
repository
databases

src/__pycache__

output

**/__pycache__

**/*.egg-info

src/temp*.py

demo

examples/geospatial/filter-assets/germany_1_m_generated_assets.json
examples/geospatial/filter-assets/germany_1_m_generated_assets.parquet